@font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    src: local('Clash Display'), url('https://fonts.cdnfonts.com/s/65008/ClashDisplayRegular.woff') format('woff');
}
@font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 200;
    src: local('Clash Display'), url('https://fonts.cdnfonts.com/s/65008/ClashDisplayExtralight.woff') format('woff');
}
@font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 300;
    src: local('Clash Display'), url('https://fonts.cdnfonts.com/s/65008/ClashDisplayLight.woff') format('woff');
}
@font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    src: local('Clash Display'), url('https://fonts.cdnfonts.com/s/65008/ClashDisplayMedium.woff') format('woff');
}
@font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    src: local('Clash Display'), url('https://fonts.cdnfonts.com/s/65008/ClashDisplaySemibold.woff') format('woff');
}
@font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    src: local('Clash Display'), url('https://fonts.cdnfonts.com/s/65008/ClashDisplayBold.woff') format('woff');
}



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;700&display=swap');


*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}